.bigPictureShoe {
  margin-left: 28rem;
  margin-top: 6rem;
}

.bigPicture {
  height: 35rem;
  width: 35rem;
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
}

.littlePicturesShoes {
  margin-left: 28rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
  cursor: pointer;
}

section > ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

section > ul > li {
  display: flex;
}

section > ul > li > img {
  height: 8rem;
  width: 8rem;
  object-fit: cover;
  border-radius: 1rem;
}

section > ul > li > img:hover {
  opacity: 0.5;
  border: 0.2rem solid orangered;
}

main {
  display: flex;
}

.sectionRight {
  margin-right: 20rem;
  margin-left: 8rem;
  margin-top: 10rem;
}

.brand {
  font-weight: bolder;
  color: grey;
}

h2 {
  max-width: 20ch;
  font-size: xxx-large;
  margin-top: 1rem;
}

.description {
  max-width: 50ch;
  margin-top: 3rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.reductionPrice {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.price {
  font-size: x-large;
  font-weight: bolder;
}

.reduction {
  background-color: black;
  color: white;
  font-weight: bolder;
  width: 2.7rem;
  border-radius: 0.4rem;
  text-align: center;
  padding: 0.2rem;
  padding-top: 0.3rem;
}

.oldPrice {
  text-decoration: line-through;
  font-weight: bolder;
  color: grey;
  margin-bottom: 2rem;
}

.purchase {
  display: flex;
}

.quantity {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  align-items: center;
  background-color: rgb(241, 241, 241);
  border-radius: 0.5rem;
  margin-right: 1.5rem;
}

.less,
.more {
  all: unset;
  font-weight: bolder;
  font-size: x-large;
  color: #fd7e17;
  cursor: pointer;
  padding: 0.7rem;
  height: 2.5rem;
}

.numberOfQuantity {
  font-weight: bolder;
}

.addToCart {
  all: unset;
  font-weight: bolder;
  background-color: #fd7e17;
  padding: 0.7rem;
  border-radius: 0.5rem;
  width: 15rem;
  height: 2.5rem;
  text-align: center;
  cursor: pointer;
}

.addToCart:hover {
  opacity: 0.8;
}
