.bigPictureShoe {
  margin-left: 28rem;
  margin-top: 6rem;
}

.bigPicture {
  height: 35rem;
  width: 35rem;
  object-fit: cover;
  border-radius: 1rem;
  cursor: pointer;
}

.littlePicturesShoes {
  margin-left: 28rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
  cursor: pointer;
}

section > ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

section > ul > li {
  display: flex;
}

section > ul > li > img {
  height: 8rem;
  width: 8rem;
  object-fit: cover;
  border-radius: 1rem;
}

section > ul > li > img:hover {
  opacity: 0.5;
  border: 0.2rem solid orangered;
}
